  <!DOCTYPE html>
  <html lang="en">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no"/>
    <link rel="shortcut icon" href="img/puppyrunners2.jpg">
    <title>Puppy Runners</title>

    <!-- CSS  -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="css/materialize.css" type="text/css" rel="stylesheet" media="screen,projection"/>
    <link href="css/style.css" type="text/css" rel="stylesheet" media="screen,projection"/>
  </head>
  <body>
    <nav class="white" role="navigation">
      <div class="nav-wrapper container">
          <div class="col s12 m4">
            <ul class="left hide-on-med-and-down">
              <li><a href="#section1">About us</a></li>
              <li><a href="#section2">Device</a></li>
              <li><a href="#section3">Contact</a></li>
            </ul>
          </div>

          <div class="col s12 m4">
            <a id="logo-container" href="#" class="brand-logo center">Puppy Runners</a>
          </div>


          <div class="col s12 m4">
            <ul class="right hide-on-med-and-down">
              <li><a href="#">Log in</a></li>

              <li><a href="#">Sign up</a></li>
            </ul>
          </div>

          <ul id="nav-mobile" class="side-nav">
            <li><a href="#section1" du-smooth-scroll du-scrollspy class="io-navigation-item waves-effect">Device</a></li>
            <li><a href="#section2" du-smooth-scroll du-scrollspy ng-click clas="io-navigation-item waves-effect">About us</a></li>
            <li><a href="#section3">Contact</a></li>
            <li><a href="#">Log in</a></li>
            <li><a href="#">Sign up</a></li>
          </ul>

          <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>
      </div>
    </nav>

    <div id="index-banner" class="parallax-container">
      <div class="section no-pad-bot">
        <div class="container">
          <br><br>
          <h1 class="header center teal-text text-lighten-2 orange-text">Puppy Runners</h1>
          <div class="row center">
            <h5 class="header col s12 strong">Porque sabemos que amas a tu perro y a la tecnología</h5>
          </div>
          <br><br>

        </div>
      </div>
      <div class="parallax"><img src="img/dogy.jpg" alt="Unsplashed background img 1"></div>
    </div>


       <div class="container" id="section2">
      <div class="section">
        <div class="row">






          <div class="col s12 m6">
            <h3><i class="mdi-content-send brown-text"></i></h3>
            <h4 class="center">About us</h4>
            <p class="left-align light">La salud de tus mascotas es muy importante para nosotros. Actualmente, existe muy poca información sobre como cuidar la salud de tu perro. Puppy runner brinda un producto el cual captura los datos biométricos para darte estadísticas, recomendaciones y un análisis especializado, para el monitoreo y cuidado de tu mejor amigo. </p>
          </div>




          <div class="col s12 m6">
          <div class="responsive-image">
            <img src="img/pit.jpg" alt="Discover mockup">
          </div>
          </div>


        </div>
      </div>
    </div>


    <div class="parallax-container valign-wrapper">
      <div class="section no-pad-bot">
      </div>
      <div class="parallax"><img src="img/puppyrunners.jpg" alt="Unsplashed background img 2"></div>
    </div>



    <div class="container" id="section2">
      <div class="section">
        <div class="row">



          <div class="col s12 m6">
            <h3><i class="mdi-content-send brown-text"></i></h3>
            <h4>Device</h4>
            <p class="left-align light">Los collares Puppy Runners están creados con la tecnología mas actual que se encuentra en el mercado, están diseñados para recolectar la información biométrica del perro con gran precisión. El collar es muy cómodo para tu mascota. Con ayuda de Puppy runners tendrás la información de cuantos pasos ha recorrido tu perro, cuantas calorías ha quemado y tendrás la seguridad de saber donde esta tu mejor amigo.</p>
          </div>




          <div class="col s12 m6">
          <div class="responsive-image">
            <img src="img/labra.jpg" alt="Discover mockup">
          </div>
          </div>


        </div>
      </div>
    </div>


    <div class="parallax-container valign-wrapper">
      <div class="section no-pad-bot">
        
      </div>
      <div class="parallax"><img src="img/puppyrunners2.jpg" alt="Unsplashed background img 3"></div>
    </div>

    <footer class="page-footer blue darken-4 " id="section3">
      <div class="container">
        <div class="row">

          <div>
            <h5 class="white-text">Puppy Runeners</h5>
            <!-- <p class="grey-text text-lighten-4"></p> -->
          </div>

          <div class="col l3 s12">
            <h5 class="white-text">Social</h5>
            <ul>
              <li> <a class="large material-icons">thumb_up</a> <a class="white-text" href=""> Facebook</a></li>
              <li> <a class="large material-icons">library_books</a> <a class="white-text" href="#!"> Twitter</a></li>
              <li> <a class="large material-icons">stay_current_portrait</a> <a class="white-text" href="#!"> Instagram</a></li>
            </ul>
          </div>


          <div class="col l5 s12">
            <h5 class="white-text">Información</h5>
            <ul>
              <li><a class="white-text" href="#!"> Nosotros</a></li>
              <li><a class="white-text" href="#!"> Contacto</a></li>
              <li><a class="white-text" href="#!"> Términos y Condiciones de Uso y Privacidad</a></li>
            </ul>
          </div>



          <div class="col l3 s12">
            <h5 class="white-text">Aplicaciones</h5>
            <ul>
              <li><a class="white-text" href="#!"> Android</a></li>
              <li><a class="white-text" href="#!"> iOS</a></li>
              <li><a class="white-text" href="#!"> Windows Phone</a></li>
            </ul>
          </div>


        </div>
      </div>
      <div class="footer-copyright">
        <div class="container">
        Copyright <a class="brown-text text-lighten-3">Puppy Runners Inc. </a>
        </div>
      </div>
    </footer>


    <!--  Scripts-->
    <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script src="js/materialize.js"></script>
    <script src="js/init.js"></script>

    </body>
  </html>

